<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="signup">
    <h1>WELCOME</h1>
      <h2>...to the YEAR 4000</h2>
    <header>
      <nav class="signup">
        <div class=sign>
          <a href="/signup">Sign Up</a> <br>
        <div class="log">
          <a href="/login">Log In</a>
        </div>
      </nav>
    </header>
  </body>
</html>
