<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Sign up</h1>
    <form class="signin" action="/users" method="post">
        <input type="text" name="user[username]" value="" placeholder="Username">
        <input type="password" name="user[password]" value="" placeholder="Password"><br>
        <input type="submit" value="Sign up">
    </form>
  </body>
</html>
