html * {
 font-family: 'Orbitron', sans-serif;
}

body {
  background-color:  rgb(66, 110, 244);
}

.text, input  {
  font-size: 200%;
}

#search-results-container {
  padding: 2%;
  background-color: rgba(50, 50, 0, .3);
  border-radius: 16px 8px;
}

.container {
 /* padding: 10px;*/
  padding: 1%;
/*  position: relative;*/
  background-color: rgba(50, 50, 0, .5);
  border-radius: 16px 8px;

}

.log {
  position: relative;
  margin-top: 15%;

}



