 html * {
   font-family: 'Orbitron', sans-serif;
 }

 body {
    background-color:  rgb(66, 110, 244);
  }
  footer {
    position: absolute;
    font-size: 160%;
    margin-top: 5%;
    margin-left: 40%;
  }


  .text, input  {
    font-size: 200%;
  }

#search-results-container {
    height: 60vh;
    width: 50vw:;
    overflow: scroll;
    background-color: rgba(50, 50, 0, .3);
    margin-right: 50%;
}
.search-results {
    /*border-spacing: 10px;*/
    /*border-color: black;*/
    /*height: 30vh;
    width: 50vw:;
    overflow: scroll;*/
}

#favorites-container {
  background-color: rgba(50, 50, 0, .3);
  margin-right: 50%;
  margin-color: black 2%;
}
/*#submit {
  height: 5%;
  width: 10%;
  text-transform: all;
}*/
